# **Предобработка данных**

In [ ]:
import os

image_dir = '/content/drive/MyDrive/KnowledgeGragh/Images'

labels = [i.split('-')[1].replace('_',' ') for i in os.listdir(image_dir)]
print(labels)
print(len(labels))

['Chihuahua', 'Maltese dog', 'Pekinese', 'Shih', 'Afghan hound', 'basset', 'beagle', 'bluetick', 'black', 'Walker hound', 'redbone', 'borzoi', 'Italian greyhound', 'whippet', 'Norwegian elkhound', 'Saluki', 'Weimaraner', 'Staffordshire bullterrier', 'American Staffordshire terrier', 'Bedlington terrier', 'Border terrier', 'Irish terrier', 'Norwich terrier', 'Yorkshire terrier', 'wire', 'Lakeland terrier', 'Sealyham terrier', 'Airedale', 'cairn', 'Dandie Dinmont', 'Boston bull', 'miniature schnauzer', 'giant schnauzer', 'Scotch terrier', 'Tibetan terrier', 'silky terrier', 'soft', 'West Highland white terrier', 'Lhasa', 'flat', 'curly', 'golden retriever', 'Labrador retriever', 'Chesapeake Bay retriever', 'German short', 'vizsla', 'English setter', 'Irish setter', 'Gordon setter', 'Brittany spaniel', 'clumber', 'English springer', 'Welsh springer spaniel', 'cocker spaniel', 'kuvasz', 'schipperke', 'groenendael', 'briard', 'kelpie', 'Old English sheepdog', 'collie', 'Border collie', 'Rottweiler', 'German shepherd', 'miniature pinscher', 'Greater Swiss Mountain dog', 'Bernese mountain dog', 'Appenzeller', 'boxer', 'bull mastiff', 'Tibetan mastiff', 'Saint Bernard', 'Eskimo dog', 'malamute', 'Siberian husky', 'pug', 'Great Pyrenees', 'Pomeranian', 'chow', 'keeshond', 'Brabancon griffon', 'Pembroke', 'Cardigan', 'toy poodle', 'miniature poodle', 'standard poodle', 'Mexican hairless', 'dingo', 'Japanese spaniel', 'Rhodesian ridgeback', 'papillon', 'toy terrier', 'Blenheim spaniel', 'bloodhound', 'Irish wolfhound', 'Ibizan hound', 'Scottish deerhound', 'Norfolk terrier', 'Kerry blue terrier', 'Australian terrier', 'standard schnauzer', 'Sussex spaniel', 'Irish water spaniel', 'malinois', 'Bouvier des Flandres', 'komondor', 'Doberman', 'EntleBucher', 'Great Dane', 'Leonberg', 'affenpinscher', 'basenji', 'Newfoundland', 'Samoyed', 'dhole', 'African hunting dog', 'English foxhound', 'otterhound', 'Shetland sheepdog', 'French bulldog']
120

In [ ]:
labels_dict = {i.split('-')[0]:i.split('-')[1].replace('_',' ') for i in os.listdir(image_dir)}
labels_dict

{'n02085620': 'Chihuahua',
 'n02085936': 'Maltese dog',
 'n02086079': 'Pekinese',
 'n02086240': 'Shih',
 'n02088094': 'Afghan hound',
 'n02088238': 'basset',
 'n02088364': 'beagle',
 'n02088632': 'bluetick',
 'n02089078': 'black',
 'n02089867': 'Walker hound',
 'n02090379': 'redbone',
 'n02090622': 'borzoi',
 'n02091032': 'Italian greyhound',
 'n02091134': 'whippet',
 'n02091467': 'Norwegian elkhound',
 'n02091831': 'Saluki',
 'n02092339': 'Weimaraner',
 'n02093256': 'Staffordshire bullterrier',
 'n02093428': 'American Staffordshire terrier',
 'n02093647': 'Bedlington terrier',
 'n02093754': 'Border terrier',
 'n02093991': 'Irish terrier',
 'n02094258': 'Norwich terrier',
 'n02094433': 'Yorkshire terrier',
 'n02095314': 'wire',
 'n02095570': 'Lakeland terrier',
 'n02095889': 'Sealyham terrier',
 'n02096051': 'Airedale',
 'n02096177': 'cairn',
 'n02096437': 'Dandie Dinmont',
 'n02096585': 'Boston bull',
 'n02097047': 'miniature schnauzer',
 'n02097130': 'giant schnauzer',
 'n02097298': 'Scotch terrier',
 'n02097474': 'Tibetan terrier',
 'n02097658': 'silky terrier',
 'n02098105': 'soft',
 'n02098286': 'West Highland white terrier',
 'n02098413': 'Lhasa',
 'n02099267': 'flat',
 'n02099429': 'curly',
 'n02099601': 'golden retriever',
 'n02099712': 'Labrador retriever',
 'n02099849': 'Chesapeake Bay retriever',
 'n02100236': 'German short',
 'n02100583': 'vizsla',
 'n02100735': 'English setter',
 'n02100877': 'Irish setter',
 'n02101006': 'Gordon setter',
 'n02101388': 'Brittany spaniel',
 'n02101556': 'clumber',
 'n02102040': 'English springer',
 'n02102177': 'Welsh springer spaniel',
 'n02102318': 'cocker spaniel',
 'n02104029': 'kuvasz',
 'n02104365': 'schipperke',
 'n02105056': 'groenendael',
 'n02105251': 'briard',
 'n02105412': 'kelpie',
 'n02105641': 'Old English sheepdog',
 'n02106030': 'collie',
 'n02106166': 'Border collie',
 'n02106550': 'Rottweiler',
 'n02106662': 'German shepherd',
 'n02107312': 'miniature pinscher',
 'n02107574': 'Greater Swiss Mountain dog',
 'n02107683': 'Bernese mountain dog',
 'n02107908': 'Appenzeller',
 'n02108089': 'boxer',
 'n02108422': 'bull mastiff',
 'n02108551': 'Tibetan mastiff',
 'n02109525': 'Saint Bernard',
 'n02109961': 'Eskimo dog',
 'n02110063': 'malamute',
 'n02110185': 'Siberian husky',
 'n02110958': 'pug',
 'n02111500': 'Great Pyrenees',
 'n02112018': 'Pomeranian',
 'n02112137': 'chow',
 'n02112350': 'keeshond',
 'n02112706': 'Brabancon griffon',
 'n02113023': 'Pembroke',
 'n02113186': 'Cardigan',
 'n02113624': 'toy poodle',
 'n02113712': 'miniature poodle',
 'n02113799': 'standard poodle',
 'n02113978': 'Mexican hairless',
 'n02115641': 'dingo',
 'n02085782': 'Japanese spaniel',
 'n02087394': 'Rhodesian ridgeback',
 'n02086910': 'papillon',
 'n02087046': 'toy terrier',
 'n02086646': 'Blenheim spaniel',
 'n02088466': 'bloodhound',
 'n02090721': 'Irish wolfhound',
 'n02091244': 'Ibizan hound',
 'n02092002': 'Scottish deerhound',
 'n02094114': 'Norfolk terrier',
 'n02093859': 'Kerry blue terrier',
 'n02096294': 'Australian terrier',
 'n02097209': 'standard schnauzer',
 'n02102480': 'Sussex spaniel',
 'n02102973': 'Irish water spaniel',
 'n02105162': 'malinois',
 'n02106382': 'Bouvier des Flandres',
 'n02105505': 'komondor',
 'n02107142': 'Doberman',
 'n02108000': 'EntleBucher',
 'n02109047': 'Great Dane',
 'n02111129': 'Leonberg',
 'n02110627': 'affenpinscher',
 'n02110806': 'basenji',
 'n02111277': 'Newfoundland',
 'n02111889': 'Samoyed',
 'n02115913': 'dhole',
 'n02116738': 'African hunting dog',
 'n02089973': 'English foxhound',
 'n02091635': 'otterhound',
 'n02105855': 'Shetland sheepdog',
 'n02108915': 'French bulldog'}

In [ ]:
import pandas as pd

columns = ['breed','image_path']
df_dog = pd.DataFrame(columns=columns)

In [ ]:
for i in range(len(labels)):
  image_path = os.path.join(image_dir,os.listdir(image_dir)[i])
  image_path = os.path.join(image_path,os.listdir(image_path)[0])
  image_path = image_path.replace('/content/drive/MyDrive/KnowledgeGragh/','')
  df_dog.loc[len(df_dog)] = [labels[i],image_path]

In [ ]:
df_dog

                   breed                                         image_path
0              Chihuahua     Images/n02085620-Chihuahua/n02085620_11258.jpg
1            Maltese dog   Images/n02085936-Maltese_dog/n02085936_10273.jpg
2               Pekinese      Images/n02086079-Pekinese/n02086079_10603.jpg
3                   Shih       Images/n02086240-Shih-Tzu/n02086240_1011.jpg
4           Afghan hound   Images/n02088094-Afghan_hound/n02088094_1007.jpg
..                   ...                                                ...
115  African hunting dog  Images/n02116738-African_hunting_dog/n02116738...
116     English foxhound  Images/n02089973-English_foxhound/n02089973_2.jpg
117           otterhound      Images/n02091635-otterhound/n02091635_699.jpg
118    Shetland sheepdog  Images/n02105855-Shetland_sheepdog/n02105855_1...
119       French bulldog  Images/n02108915-French_bulldog/n02108915_225.jpg

[120 rows x 2 columns]

# **Парсинг xml**

In [ ]:
import pandas as pd

columns = ['image_id', 'image_name', 'Person', 'Dog', 'Is_person']
df_image = pd.DataFrame(columns=columns)

In [ ]:
labels_xml = ['xtl','ytl','xbr','ybr']

In [ ]:
from matplotlib.cbook import boxplot_stats
import xml.etree.ElementTree as ET
from collections import defaultdict

tree = ET.parse('/content/annotations_.xml')
root = tree.getroot()

Person = defaultdict(list)
Dog = defaultdict(list)
for image in root.findall('image'):
  id_image = image.attrib.get('id')
  name_image = image.attrib.get('name')
  boxs = image.findall('box')
  Is_Person = False
  for i in range(len(boxs)):
    box_xtl = boxs[i].get('xtl')
    box_ytl = boxs[i].get('ytl')
    box_xbr = boxs[i].get('xbr')
    box_ybr = boxs[i].get('ybr')
    temp = {
      'xtl': box_xtl,
      'ytl': box_ytl,
      'xbr': box_xbr,
      'ybr': box_ybr,
    }
    if boxs[i].get('label')=='person':
      Person[id_image].append(temp)
      Is_Person = True
    if boxs[i].get('label')=='dog':
      Dog[id_image].append(temp)
  df_image.loc[len(df_image)] = [id_image,name_image,Person[id_image],Dog[id_image],Is_Person]

In [ ]:
df_image = df_image.drop(labels = ['image_id'],axis=1)

In [ ]:
df_image

,image_name,Person,Dog,Is_person
0,n02091635_1177.jpg,"[{'xtl': '0.92', 'ytl': '1.91', 'xbr': '49.92'...","[{'xtl': '26.52', 'ytl': '31.12', 'xbr': '119....",True
1,n02105855_6281.jpg,"[{'xtl': '207.00', 'ytl': '60.00', 'xbr': '371...","[{'xtl': '192.08', 'ytl': '117.70', 'xbr': '37...",True
2,n02106030_17179.jpg,"[{'xtl': '157.00', 'ytl': '51.00', 'xbr': '279...","[{'xtl': '298.00', 'ytl': '275.00', 'xbr': '48...",True
3,n02106550_9508.jpg,"[{'xtl': '125.00', 'ytl': '37.00', 'xbr': '225...","[{'xtl': '20.00', 'ytl': '14.00', 'xbr': '138....",True
4,n02107142_9597.jpg,"[{'xtl': '2.00', 'ytl': '207.00', 'xbr': '178....","[{'xtl': '105.00', 'ytl': '365.00', 'xbr': '28...",True
5,n02108551_7523.jpg,"[{'xtl': '1.00', 'ytl': '28.00', 'xbr': '333.0...","[{'xtl': '304.00', 'ytl': '131.00', 'xbr': '50...",True
6,n02110185_5624.jpg,"[{'xtl': '157.00', 'ytl': '23.00', 'xbr': '500...","[{'xtl': '23.00', 'ytl': '132.00', 'xbr': '336...",True
7,n02111277_4854.jpg,"[{'xtl': '253.00', 'ytl': '98.00', 'xbr': '499...","[{'xtl': '214.50', 'ytl': '59.80', 'xbr': '347...",True
8,n02113023_3181.jpg,"[{'xtl': '107.00', 'ytl': '50.00', 'xbr': '343...","[{'xtl': '34.00', 'ytl': '262.00', 'xbr': '315...",True
9,n02115641_9302.jpg,"[{'xtl': '347.20', 'ytl': '105.49', 'xbr': '47...","[{'xtl': '123.60', 'ytl': '178.10', 'xbr': '34...",True

In [ ]:
label_name_list = [name.split('_')[0] for name in df_image['image_name']]

In [ ]:
df_image['breed'] = [labels_dict.get(i) for i in label_name_list]

In [ ]:
df_image

,image_name,Person,Dog,Is_person,breed
0,n02091635_1177.jpg,"[{'xtl': '0.92', 'ytl': '1.91', 'xbr': '49.92'...","[{'xtl': '26.52', 'ytl': '31.12', 'xbr': '119....",True,otterhound
1,n02105855_6281.jpg,"[{'xtl': '207.00', 'ytl': '60.00', 'xbr': '371...","[{'xtl': '192.08', 'ytl': '117.70', 'xbr': '37...",True,Shetland sheepdog
2,n02106030_17179.jpg,"[{'xtl': '157.00', 'ytl': '51.00', 'xbr': '279...","[{'xtl': '298.00', 'ytl': '275.00', 'xbr': '48...",True,collie
3,n02106550_9508.jpg,"[{'xtl': '125.00', 'ytl': '37.00', 'xbr': '225...","[{'xtl': '20.00', 'ytl': '14.00', 'xbr': '138....",True,Rottweiler
4,n02107142_9597.jpg,"[{'xtl': '2.00', 'ytl': '207.00', 'xbr': '178....","[{'xtl': '105.00', 'ytl': '365.00', 'xbr': '28...",True,Doberman
5,n02108551_7523.jpg,"[{'xtl': '1.00', 'ytl': '28.00', 'xbr': '333.0...","[{'xtl': '304.00', 'ytl': '131.00', 'xbr': '50...",True,Tibetan mastiff
6,n02110185_5624.jpg,"[{'xtl': '157.00', 'ytl': '23.00', 'xbr': '500...","[{'xtl': '23.00', 'ytl': '132.00', 'xbr': '336...",True,Siberian husky
7,n02111277_4854.jpg,"[{'xtl': '253.00', 'ytl': '98.00', 'xbr': '499...","[{'xtl': '214.50', 'ytl': '59.80', 'xbr': '347...",True,Newfoundland
8,n02113023_3181.jpg,"[{'xtl': '107.00', 'ytl': '50.00', 'xbr': '343...","[{'xtl': '34.00', 'ytl': '262.00', 'xbr': '315...",True,Pembroke
9,n02115641_9302.jpg,"[{'xtl': '347.20', 'ytl': '105.49', 'xbr': '47...","[{'xtl': '123.60', 'ytl': '178.10', 'xbr': '34...",True,dingo

In [ ]:
df_image.to_csv('df_image_new.csv',index=False)

In [ ]:
columns = ['image_breed','image_path', 'Person', 'Dog', 'Is_person']
df_image_label = pd.DataFrame(columns=columns)